body {
  background-color: #f5f5f5;
  padding-top: 36px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.wrap {
  display: grid;
  grid-template-areas: 'sidebar ... content content';
  margin: auto;
  width: 750px;
}

.link {
  text-decoration: none;
}
