.todoCard {
  max-width: 700px;
  height: 644px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.todoCardHeader {
  display: flex;
  padding: 16px;
  justify-content: space-between;
}

.title {
  margin: 0;
}

.todoCount, .completedAffair {
  display: flex;
}

.completedAffairText {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
}

.completedAffairNuber {
  font-size: 12px;
  line-height: 14px;
  color: #356EFF;
  width: 30px;
}

.todoCardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.todoCard .todoCardBody:last-child {
  padding-bottom: 16px;
}
